body {
  --text-color: white;
  --background: #282c34;
  --box-shadow-color: rgb(255, 255, 255, 0.3);
  color: var(--text-color);
  background-color: var(--background);
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  
}

.header-content {
  max-width: 1200px;
  width: 100%;
  padding: 10px 30px;
  margin: auto;
}

header {
  width: 100%;
  border-bottom: 1px solid var(--box-shadow-color);
  box-shadow: 0px 2px 2px var(--box-shadow-color);
}


/* ProductList */

.product-list {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 25px;
  margin-top: 30px;
}

/* ProductCard */

.product-card {
  width: 300px;
  height: 300px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 0px var(--box-shadow-color);
  cursor: pointer;
  transition: all ease-in 0.1s;
  overflow: hidden;
}

.product-card:hover {
  transform: scale(1.01);

}

.product-img {
  height: 75%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.product-details {
  display: flex;
  padding: 15px;
  gap: 2px;
  flex-direction: column;
  text-align: left;
}

.price {
  display: inline-block;
}

.title {
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}